/** @format */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background: #000;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  color: #fff;
}

/* 플로팅 버튼 */
.floating-button {
  position: fixed;
  bottom: 0px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(1, 124, 255, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  border: none;
  opacity: 0.9;
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.floating-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-out;
}

/* 헤더 */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 100;
}
/* .logos {
  padding-left: 80px;
} */
.logo {
  max-width: 200px;
}
.icon-cross {
  width: 25px;
}

/* Left Side */
#left-side {
  padding-right: 50px;
  text-align: center;
}
.card {
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card-body {
  padding: 5px 10px;
}
.card-title {
  font-size: 18px;
}
.card-text {
  color: #212529;
}
.card-badge {
  font-size: 14px;
  padding: 3px 6px;
  margin: 0 auto;
  border-radius: 4px;
}
.status-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}
.intro-title {
  font-size: 40px;
  font-weight: 700;
  color: rgb(1, 124, 255);
  margin-bottom: 10px;
}
.intro-desc1 {
  font-size: 16px;
  color: #fff;
}
.intro-desc1-time {
  font-size: 24px;
  font-weight: 700;
}
.intro-desc2-warning {
  font-size: 11px;
  font-weight: 400;
  color: #fff;
}
.intro-desc2-price {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 3px;
}

/* Right Side */
#right-side {
  padding-left: 50px;
  margin-bottom: 100px;
}
.status-header {
  position: relative;
}
.status-header-refresh {
  position: absolute;
  right: 0;
  top: 13px;
  cursor: pointer;
}
.status-header-refresh:hover {
  color: rgb(1, 124, 255);
}
.fa-caret-up {
  color: red;
  transform: scale(1.4);
}
.fa-caret-down {
  color: blue;
  transform: scale(1.4);
}

/* 모달 */
.modal-title {
  font-weight: 700;
}
.event-form {
  color: #000;
}
.event-form-title {
  font-size: 32px;
  font-weight: 700;
  color: rgb(1, 124, 255);
  margin-bottom: 10px;
}
.event-detail {
  background-color: aliceblue;
  padding: 15px;
  font-size: 14px;
}
.event-form-list {
  font-weight: 700;
}
.event-rank,
.event-phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-text-sub {
  font-size: 13px;
  font-weight: 300;
}
.accordion {
  margin-bottom: 10px;
}
.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.accordion-content {
  background-color: aliceblue;
  padding: 15px;
  display: none;
  font-size: 12px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion-content.active {
  padding: 10px;
  max-height: 500px;
  transition: max-height 0.3s ease-in;
}
.accordion-content.active {
  display: block;
}
.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.loading-text {
  font-size: 26px;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 100px auto;
}
#submit-form {
  width: 100%;
}
#submit-spinner {
  display: none;
}
@media (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}
@media (max-width: 532px) {
  #left-side {
    padding-right: 15px;
  }
  #right-side {
    padding-left: 15px;
  }
  .status-header {
    margin-top: 30px;
  }
  .status-field {
    display: none;
  }
  .intro-title {
    font-size: 30px;
  }
  .intro-desc2-price {
    font-size: 24px;
  }
  .logos {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 150px;
  }
  .icon-cross {
    margin-top: 10px;
  }
}
